$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #FFE6B2;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background_alt: #fafafa;
$footer__background: #333e48;
$footer__background_sec: #aeaeae;

$color__main-menu: #ffffff;
$color__main-menu-hover: #dad3a2;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #2e8edf;
$color__link-visited: #52abf6;
$color__link-hover: #aaaaaa;
$color__text-main: #333333;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/*===============================================
=            for setting box-shadows            =
===============================================*/
$box_shadow_1: 0 1px 6px 0 rgba( #000, .1 );
$box_shadow_2: 0 1px 6px 0 rgba( #000, .2 );
$box_shadow_3: 0 1px 6px 0 rgba( #000, .3 );
$box_shadow_4: 0 1px 6px 0 rgba( #000, .4 );
$box_shadow_5: 0 1px 6px 0 rgba( #000, .5 );
$box_shadow_6: 0 1px 6px 0 rgba( #000, .6 );
$box_shadow_7: 0 1px 6px 0 rgba( #000, .7 );
$box_shadow_8: 0 1px 6px 0 rgba( #000, .8 );
$box_shadow_9: 0 1px 6px 0 rgba( #000, .9 );
$box_shadow_10: 0 1px 6px 0 rgba( #000, 1 );
/*=====  End of for setting box-shadows  ======*/

/*=============================================
=            for transition speeds            =
=============================================*/
$trans_1: all 0.1s ease-in-out;
$trans_15: all 0.15s ease-in-out;
$trans_2: all 0.2s ease-in-out;
$trans_25: all 0.25s ease-in-out;
$trans_3: all 0.3s ease-in-out;
$trans_35: all 0.35s ease-in-out;
$trans_4: all 0.4s ease-in-out;
$trans_45: all 0.45s ease-in-out;
/*=====  End of for transition speeds  ======*/


