$font__line-height-body: 1.3;
$font__line-height-pre: 1.5;

$font__mont: 'Lato', sans-serif;
$font__title:  'Dancing Script', cursive;
$font__body: 'Roboto Slab', sans-serif;
$font__heading: 'Michroma', sans-serif;