$font__line-height-body: 1.3;
$font__line-height-pre: 1.5;

$font__teko: 'Teko', 'Lato', sans-serif;
$font__title: 'Dancing Script', cursive;
$font__body: 'Roboto Slab', sans-serif;
$font__heading: 'Courgette', 'Cinzel', sans-serif;