/*=========================================
=            front page styles            =
=========================================*/
.home {

  video.cta-slide {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    min-height: 100%;
  }

  section {

    p.price,
    span.price {
      font-family: $font__body;
    }

    a.button.product_type_variable {
      display: none;
    }
  }
}

/*----------  Header Slider  ----------*/
section.header-slider-section {
  position: relative;
  height: 72vh;
  @include prefix(transition, $trans_1, o moz webkit);

  h1 {
    margin: 0 auto;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: $font__title;
  }

  h4 {
    font-family: $font__teko;
    font-weight: 400;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 15px;
    white-space: nowrap;
    @include font-size(1.6);
  }

  .top-page-slider-wrap {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .top-page-slide {
      position: relative;
      display: none;
      width: 100%;
      height: 100%;
      @include prefix(transition, $trans_1, o moz webkit);

      div.top-slide-img-holder {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        @include prefix(background-size, cover, o moz webkit);
        width: 100%;
        height: 100%;

        .img-header-text-wrap {
          margin: auto;
          width: 100%;
          height: 100%;
          align-items: center;
          max-width: 1200px;

          .img-header-text-container {
            display: flex;
            flex-direction: column;

            .set-align-left {
              align-self: flex-start;
            }

            .set-align-center {
              align-self: center;

            }

            .set-align-right {
              align-self: flex-end;
            }

            .text-box {
              font-weight: bold;
              color: #c5c5c5;
              max-width: 1200px;
              @include prefix(text-shadow, 1px 1px 2px rgba(#000, .8), o moz webkit);

              .img-head-slider-link {
                text-shadow: none;
              }
            }
          }
        }
      }

      &:first-child {
        display: block;
      }
    }

    .slick-list {
      position: relative;
      height: 100%;

      .slick-track {
        height: 100%;

        .top-page-slide {
          display: block;
        }
      }
    }
  }

  @include media-breakpoint(md) {

    div.img-header-text-container .text-box {

      h1 {
        line-height: 1.1;
        @include font-size(5);
      }

      h4.top-slider-subheader {
        line-height: 1.1;
        @include font-size(2.2);
      }
    }
  }

  @include media-breakpoint(lg) {


    .img-header-text-container .text-box {

      h4 {
        line-height: 1.1;
        @include font-size(1.8);
      }
    }
  }

  @include media-breakpoint(xl) {


    .img-header-text-container .text-box {
      h4 {
        line-height: 1.1;
        @include font-size(2.2);
      }
    }
  }
}

/*----------  End Header Slider  ----------*/

/*======================================       Top slider popup box      =====================================*/
.top-slider-booknow {
  width: 100%;
  position: relative;
  top: -55px;
  display: flex;
  justify-content: center;
  z-index: 15;

  .booknow-row {
    width: 100%;
    padding: 10px 6px 0 6px;
    max-width: 96%;
    border-radius: 10px;
    color: #c5c5c5;
    background: rgba($color: #131f2f, $alpha: .9);

    .booknow-service-col {
      display: grid;
      justify-content: center;
      text-align: center;
      padding: 0 1.5px;

      h3 {
        font-family: $font__teko;
        @include font-size(1.85);
      }

      p {
        @include font-size(.9);
      }
    }
  }

  @include media-breakpoint(md) {

    .booknow-row {
      max-width: 75%;
    }
  }
}

/*------------------ About me  ------------------*/
section.about {
  padding: 6.5rem 0;
  background: #070606;
  color: #c5c5c5;

  @include media-breakpoint(md) {}
}

/*------------------ End About me  ------------------*/

/*------------------ Services  ------------------*/
section.services {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  color: #c5c5c5;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .service-title {
    font-family: $font__teko;
    ;
  }

  .card {
    background: rgba($color: #131f2f, $alpha: .95);

    ul.list-group {

      li {
        background: inherit;
      }
    }
  }
}

/*------------------ End Services  ------------------*/