.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#page {
	background: rgba(0,0,0,.7);
}

.site-content {
	padding: 0 35px;
	
	@include media-breakpoint( lg ) {
		padding: 0 75px;
	}
}

/*==================================================
=                  Privacy Policy                 =
==================================================*/

.privacy-policy .site-content {
	background-color: #000000;
}

/*=====  End of Privacy Policy  ======*/
